@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
h2, .h2Contacto, .GrillaQuienesSomos .QuienesSomosTitulo .QuienesSomosH2 {
  font-family: "Glook";
  font-size: 26px;
  font-weight: lighter;
  margin-left: 16px;
  margin-block: 20px;
  margin: 6px;
  padding-block: 40px;
}

@font-face {
  font-family: "Kindergarden";
  src: url(../fonts/kindergarten.ttf);
  font-family: "School";
  src: url(../fonts/Schoolbell-Regular.ttf);
  font-family: "Glook";
  src: url(../fonts/Gloock-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::-moz-selection {
  background-color: rgb(201, 201, 201);
}

::selection {
  background-color: rgb(201, 201, 201);
}

.row {
  margin-right: 0;
  width: 100vw;
}

a {
  color: black;
  text-decoration: none;
}

h3 {
  font-family: "Glook";
  font-size: 26px;
  font-weight: lighter;
  margin-left: 16px;
  margin-block: 20px;
  margin: 6px;
  padding-block: 15px;
}

.h4 {
  font-family: "Glook";
  font-size: 16px;
  font-weight: lighter;
  margin-left: 16px;
  margin-block: 20px;
  margin: 6px;
  padding-block: 15px;
}

.accordion__text {
  font-family: "Glook";
  font-size: 13px;
}

input {
  margin: 5px;
  padding: 1px;
}

p, .ParrafoIndex {
  text-align: justify;
  font-family: "Glook";
  font-size: 18px;
  margin-left: 6px;
  padding-block: 8px;
}

.p2 {
  font-size: 18px;
  margin-block: 15px;
}

.p2.p4 {
  margin-top: 50px;
}

.p3, .ListaServicios {
  font-family: "Glook";
  font-size: 16px;
  margin-block: 15px;
  list-style-type: circle;
}

.p5 {
  font-size: 18px;
}

.p2.p6 {
  margin-block: 5px;
}

i {
  margin-inline: 0.5rem;
}

.Encabezado {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.Encabezado .logoBruta {
  width: 20%;
}
.Encabezado .NavBar, .Encabezado .navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right center;
  background-color: white;
  margin-right: 60px;
  text-decoration: none;
  color: black;
  align-items: center;
  align-content: center;
}
.Encabezado .NavBarli, .Encabezado .NavBar .menu_item, .Encabezado .NavBar #menu__item, .Encabezado .navbarli, .Encabezado .navbar .menu_item, .Encabezado .navbar #menu__item {
  font-family: "Glook", serif;
  font-size: 14px;
  display: inline-block;
  border: 16px;
  margin: 16px;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  list-style-type: none;
}
.Encabezado .NavBar .menu_item a:hover,
.Encabezado .NavBar .menu_item.active,
.Encabezado .NavBar .menu_item .active,
.Encabezado .NavBar .menu_item_active, .Encabezado .navbar .menu_item a:hover,
.Encabezado .navbar .menu_item.active,
.Encabezado .navbar .menu_item .active,
.Encabezado .navbar .menu_item_active {
  color: rgb(95, 95, 95);
  text-decoration: underline;
}
.Encabezado .NavBar:active,
.Encabezado .NavBar .menu_item a:active, .Encabezado .navbar:active,
.Encabezado .navbar .menu_item a:active {
  color: rgb(2, 3, 15);
  text-decoration: underline;
}
.Encabezado .Menu__hamburguesa {
  display: none;
  padding-bottom: 5%;
}
.Encabezado .container-fluid,
.Encabezado .navbar {
  background-color: white;
  padding: 0;
  display: flex;
}
.Encabezado .container-fluid .navbar-toggler,
.Encabezado .navbar .navbar-toggler {
  justify-content: end;
}
.Encabezado .container-fluid .navbar-toggler .nav-link,
.Encabezado .navbar .navbar-toggler .nav-link {
  text-align: right;
}
.Encabezado .container-fluid .navbar-nav,
.Encabezado .navbar .navbar-nav {
  display: flex;
  align-items: flex-end;
}
.Encabezado .container-fluid .navbar-nav .nav-item,
.Encabezado .navbar .navbar-nav .nav-item {
  font-family: "Glook", serif;
  font-size: 14px;
  display: inline-block;
  border: 2px;
  margin: 2px;
  margin-block: 5px;
  margin-top: 5px;
  color: black;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  list-style-type: none;
}
.Encabezado .container-fluid .navbar-nav .nav-item .nav-link,
.Encabezado .navbar .navbar-nav .nav-item .nav-link {
  margin: 2px;
  color: black;
  font-size: 10px;
}

.row__footer {
  position: relative;
  bottom: 0vw;
}

.Footer {
  display: flex;
  bottom: 0;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: "Schoolbell", cursive;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 40px;
  padding-top: 40px;
}
.Footer .FooterNewsletter {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin: 10px;
}
.Footer .FooterInfoContacto {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin: 10px;
}
.Footer .FooterInfoContacto .BrutaEstiloLogo {
  display: flex;
  font-family: "Schoolbell", cursive;
  font-size: 23px;
  font-weight: bold;
  border: 20px;
  padding-inline: 20px;
  padding-bottom: 20px;
  justify-content: flex-end;
  text-align: end;
}
.Footer .FooterInfoContacto .Casilla__footer, .Footer .FooterInfoContacto .Ig__footer {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}
.Footer .FooterBotonEnviarMail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Footer .FooterBotonEnviarMail .CajitaMail {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.Footer .FooterBotonEnviarMail .CajitaMail .Mail {
  background-color: black;
  color: white;
  font-family: "Schoolbell", monospace;
  font-size: 12px;
  font-weight: bolder;
  border: none;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.carousel-inner {
  flex-grow: 1;
}

.ParrafoIndex {
  font-size: 22px;
}

.EncabezadoIndex {
  border-bottom: none;
}

.GrillaQuienesSomos {
  display: grid;
  padding-top: 4vh;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 0.5fr;
  height: 20%;
  margin-left: 20%;
  margin-right: 20%;
  grid-template-areas: "QuienesSomosTitulo QuienesSomosPic" "QuienesSomosp1 QuienesSomosPic" "QuienesSomosp2 QuienesSomosPic" "QuienesSomosp3 QuienesSomosPic" "QuienesSomosp4 QuienesSomosPic";
  grid-column-gap: 5%;
  justify-content: center;
  justify-items: stretch;
}
.GrillaQuienesSomos .QuienesSomosTitulo {
  grid-area: QuienesSomosTitulo;
  margin-bottom: 20px;
}
.GrillaQuienesSomos .QuienesSomosTitulo .QuienesSomosH2 {
  padding-bottom: 20px;
  padding-top: 60px;
}
.GrillaQuienesSomos .QuienesSomosp1 {
  grid-area: QuienesSomosp1;
}
.GrillaQuienesSomos .QuienesSomosp2 {
  grid-area: QuienesSomosp2;
}
.GrillaQuienesSomos .QuienesSomosp3 {
  grid-area: QuienesSomosp3;
}
.GrillaQuienesSomos .QuienesSomosp4 {
  grid-area: QuienesSomosp4;
}
.GrillaQuienesSomos .QuienesSomosPic {
  grid-area: QuienesSomosPic;
  justify-items: strech;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  animation-name: slide-top;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.GrillaQuienesSomos .QuienesSomosPic .Edificio2 {
  grid-area: QuienesSomosPic;
  justify-items: strech;
}
@keyframes slide-top {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(1px);
  }
}

.PáginaContacto {
  font-family: "Glook", serif;
  font-size: 20px;
}

.MainContacto {
  display: flex;
  justify-content: space-around;
  padding-left: 5%;
}
.MainContacto .FormularioContacto {
  background-image: linear-gradient(to top, rgb(213, 216, 216), #F2F1FA);
  width: 40%;
  padding: 50px;
  font-family: "Glook";
  font-size: 12px;
  justify-content: flex-start;
  align-items: center;
}
.MainContacto .FormularioContacto .DivFormularioContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.MainContacto .FormularioContacto .Ingresacorreo, .MainContacto .FormularioContacto .Ingresatunombre, .MainContacto .FormularioContacto .Dejatuconsulta {
  width: 100%;
}
.MainContacto .FormularioContacto #Dejanostuconsulta, .MainContacto .FormularioContacto .SelectorConsulta {
  font-family: "Glook";
}
.MainContacto .FormularioContacto .Ingresatunombre, .MainContacto .FormularioContacto .Ingresatucorreo, .MainContacto .FormularioContacto .Dejanostuconsulta, .MainContacto .FormularioContacto .ObjetoConsulta {
  width: 100%;
  align-items: center;
}
.MainContacto .FormularioContacto .Dejanostuconsulta, .MainContacto .FormularioContacto .ObjetoConsulta {
  padding: 5px;
  margin: 5px;
}
.MainContacto .FormularioContacto .SelectorConsulta {
  width: 100%;
}
.MainContacto .FormularioContacto .CajitaBotonEnviar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainContacto .FormularioContacto .CajitaBotonEnviar input {
  font-family: "Glook";
  font-size: 14px;
}
.MainContacto .FormularioContacto .CajitaBotonEnviar .BotonEnviar {
  padding: 10px;
  background-color: black;
  color: white;
}

.BotonSend {
  background-color: black;
  color: white;
  text-decoration: underline;
  margin: 10px;
  font-family: "Schoolbell";
}

.GrillaContacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: "p3__contacto p3__icon" "p3__contacto p3__icon";
  grid-column-gap: 5%;
  padding-inline: 10%;
}
.GrillaContacto .p3__contacto {
  grid-area: p3__contacto;
}
.GrillaContacto .animated__camera {
  grid-area: p3__icon;
  grid-area: p3__icon;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
}
.GrillaContacto .full-icon {
  width: 40%;
  display: Flex;
  justify-items: center;
  align-items: center;
}
.GrillaContacto .full-icon .button-press {
  transform-origin: 0% 8%;
  animation: 3.7s btn-press infinite;
}
@keyframes btn-press {
  0%, 2.702702702702703% {
    transform: scaleY(1);
  }
  5.405405405405405%, 10.81081081081081% {
    transform: scaleY(0.75);
  }
  10.91081081081081%, 100% {
    transform: scaleY(1);
  }
}
.GrillaContacto .full-icon .light-blink {
  opacity: 0;
  animation: 3.7s dot-blink infinite ease-out;
}
@keyframes dot-blink {
  0%, 3.378378378378378% {
    opacity: 0;
  }
  6.756756756756757% {
    opacity: 1;
  }
  10.13513513513513% {
    opacity: 0;
  }
  13.51351351351351% {
    opacity: 1;
  }
  16.89189189189189%, 100% {
    opacity: 0;
  }
}

.GrillaPortfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Portfolio1 Portfolio2 Portfolio3 Portfolio4" "Portfolio5 Portfolio6 Portfolio7 Portfolio8";
  justify-content: center;
  justify-items: stretch;
}
.GrillaPortfolio .Portfolio1 {
  grid-area: Portfolio1;
  justify-items: strech;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s;
}
.GrillaPortfolio .Portfolio2 {
  grid-area: Portfolio2;
  justify-items: strech;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s;
}
.GrillaPortfolio .Portfolio3 {
  grid-area: Portfolio3;
  transition: 1s;
}
.GrillaPortfolio .Portfolio4 {
  grid-area: Portfolio4;
  transition: 1s;
}
.GrillaPortfolio .Portfolio5 {
  grid-area: Portfolio5;
  transition: 1s;
}
.GrillaPortfolio .Portfolio6 {
  grid-area: Portfolio6;
  transition: 1s;
}
.GrillaPortfolio .Portfolio7 {
  grid-area: Portfolio7;
  transition: 1s;
}
.GrillaPortfolio .Portfolio8 {
  grid-area: Portfolio8;
  transition: 1s;
}
.GrillaPortfolio .portfolio__foto {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  flex: 1;
}
.GrillaPortfolio .Portfolio1:hover, .GrillaPortfolio .Portfolio2:hover, .GrillaPortfolio .Portfolio3:hover, .GrillaPortfolio .Portfolio4:hover, .GrillaPortfolio .Portfolio5:hover, .GrillaPortfolio .Portfolio6:hover, .GrillaPortfolio .Portfolio7:hover, .GrillaPortfolio .Portfolio8:hover {
  transform: scale(1.1);
}
.GrillaPortfolio .PortfolioFoto {
  margin-left: 10%;
}

.GrillaServicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 0, 5fr;
  margin-left: 10%;
  margin-right: 10%;
  grid-template-areas: "Servicios ServiciosFoto ServiciosFoto" "p2 ServiciosFoto ServiciosFoto" "ListaServicios ServiciosFoto ServiciosFoto";
  grid-column-gap: 10%;
  grid-row-gap: 0;
}
.GrillaServicios .Servicios {
  grid-area: Servicios;
}
.GrillaServicios .ListaServicios {
  grid-area: ListaServicios;
  list-style-type: disc;
  margin-inline: 15px;
}
.GrillaServicios .ServiciosPic, .GrillaServicios .ServiciosPic .ServiciosFoto {
  grid-area: ServiciosFoto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  margin-top: 80px;
}
.GrillaServicios .p2 {
  grid-area: p2;
}

@media (max-width: 890px) {
  .Encabezado .NavBar li {
    font-size: 12px;
    margin-right: 2px;
    border-right: 2px;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner {
    width: 98vw;
  }
}
@media (max-width: 768px) {
  h2 {
    font-family: "Glook";
    font-size: 18px;
    padding-block: 20px;
  }
  h3 {
    padding-block: 2px;
    margin: 1px;
  }
  h4 {
    font-size: 10px;
  }
  .p2 {
    font-size: 16px;
  }
  .p5 {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .Encabezado .NavBar {
    margin-right: 40px;
  }
  .Encabezado .NavBar .li {
    font-size: 10px;
    display: inline-block;
    border: 8px;
    margin: 8px;
    margin-right: 5px;
    margin-top: 40px;
    color: black;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    list-style-type: none;
  }
  .ParrafoIndex {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .BrutaEstiloLogo {
    padding-inline: 10px;
    padding-bottom: 10px;
    font-size: 22px;
  }
  .GrillaServicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 0, 5fr;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas: "Servicios" "p2" "ListaServicios" "ServiciosFoto";
    grid-column-gap: 10%;
    grid-row-gap: 0;
  }
  .GrillaServicios .ServiciosPic, .GrillaServicios .ServiciosPic .ServiciosFoto {
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .Encabezado .NavBar, .Encabezado .navbar {
    font-size: 10px;
    margin-right: 20px;
    border-right: none;
    display: none;
  }
  .Encabezado .NavBar .nav-item, .Encabezado .navbar .nav-item {
    margin-block: 4px;
    font-size: 10px;
  }
  .Encabezado .Menu__hamburguesa {
    display: block;
    color: black;
    visibility: visible;
  }
  .Encabezado .Menu__hamburguesa .container-fluid {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-start;
    padding-right: 20%;
    padding-top: 20px;
  }
  .Encabezado .Menu__hamburguesa .container-fluid .navbar-toggler {
    margin-top: 10px;
  }
  .Encabezado .logoBruta {
    width: 30%;
  }
  .ParrafoIndex {
    font-size: 12px;
    margin-bottom: 2px;
  }
  h2 {
    font-family: "Glook";
    font-size: 16px;
    padding-block: 10px;
  }
  .GrillaServicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 0, 5fr;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas: "Servicios" "p2" "ListaServicios" "ServiciosFoto";
    grid-column-gap: 10%;
    grid-row-gap: 0;
  }
  .GrillaServicios .ServiciosPic, .GrillaServicios .ServiciosPic .ServiciosFoto {
    margin-top: 30px;
  }
  h3 {
    padding-block: 2px;
    margin: 1px;
  }
  .GrillaQuienesSomos {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 0.1fr;
    grid-template-areas: "QuienesSomosTitulo" "QuienesSomosp1" "QuienesSomosp2" "QuienesSomosp3" "QuienesSomosp4" "QuienesSomosPic";
    grid-column-gap: 10%;
    grid-row-gap: 0;
  }
  .GrillaQuienesSomos .QuienesSomosH2 {
    padding-block: 10px;
  }
  .GrillaQuienesSomos .QuienesSomosp4 {
    margin-bottom: 20px;
  }
  .MainContacto {
    display: flex;
    flex-direction: column;
  }
  .MainContacto .FormularioContacto {
    width: 100%;
  }
  .Footer {
    margin-top: 20px;
  }
  .Footer .Ig__footer, .Footer .Casilla__footer, .Footer .FooterInfoContacto .Ig__footer {
    visibility: hidden;
  }
  .Footer .bi-instagram, .Footer .bi-envelope {
    visibility: visible;
    font-size: larger;
  }
  .Footer .BrutaEstiloLogo {
    font-size: 18px;
    padding-bottom: 1px;
    padding-right: 1px;
    margin-bottom: 10px;
  }
  body {
    margin: 0;
    width: 100% !important;
  }
}
@media (max-width: 400px) {
  .logoBruta {
    width: 35%;
  }
  .container-fluid {
    padding-top: 5px;
  }
}/*# sourceMappingURL=estilos.css.map */