.Encabezado {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    


    .logoBruta {
        width: 20%;
    }

    .NavBar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: right center;
        background-color: white;
        margin-right: 60px;
        text-decoration: none;
        color: black;
        align-items: center;
        align-content: center;

        li , .menu_item
        {
            font-family: "Glook", serif;
            font-size: 14px;
            display: inline-block;
            border: 16px;
            margin: 16px;
            margin-top: 80px;
            justify-content: center;
            align-items: center;
            position: relative;
            text-decoration: none;
            list-style-type: none;
        }

        .menu_item a:hover,
        .menu_item.active,
        .menu_item .active,
        .menu_item_active {
            color: rgb(95, 95, 95);
            text-decoration: underline
        }

        &:active,
        .menu_item a:active {
            color: rgb(2, 3, 15);
            text-decoration: underline
        }


    }

    .Menu__hamburguesa {
        display: none;
        padding-bottom: 5%;


        .container-fluid,
        .navbar {
            background-color: white;
            padding: 0;
            display: flex;

            .navbar-toggler {
                justify-content: end;

                .nav-link {
                    text-align: right;
                }
            }

            
            .navbar-nav 
            {display: flex;
               align-items: flex-end;
            
               .nav-item {
                font-family: "Glook", serif;
                font-size: 14px;
                display: inline-block;
                border: 2px;
                margin: 2px;
                margin-block: 5px;
                margin-top: 5px;
                color: black;
                justify-content: center;
                align-items: center;
                position: relative;
                text-decoration: none;
                list-style-type: none;

                   .nav-link {
                 margin: 2px; 
                     color: black;
                    font-size: 10px;} 

                }      
            
            }

         

            }


        }
    }









