@media (max-width: 890px) {
    .NavBar li {
        font-size: 12px;
        margin-right: 2px;
        border-right: 2px;
        justify-content: center;
        align-items: center;
}

.carousel-inner
{width: 98vw;}
}

///////////////////////////////////////////*****************************************////////////////////////////////////


@media (max-width: 768px) {    
    
    .NavBar {
    margin-right: 40px;
        .li {
        font-size: 10px;
        display: inline-block;
        border: 8px;
        margin: 8px;
        margin-right: 5px;
        margin-top: 40px;
        color: black;
        justify-content: center;
        align-items: center;
        position:relative;
        text-decoration: none;
        list-style-type: none;
        }
        }


    h2 {font-family: "Glook";
        font-size: 18px;
    padding-block: 20px;}

    h3
    {padding-block: 2px;
    margin: 1px;}
    
    h4
    {font-size: 10px;}

        .ParrafoIndex {
        font-size: 16px;
    margin-bottom: 12px;}

    .BrutaEstiloLogo
    {padding-inline: 10px;
    padding-bottom: 10px;
    font-size: 22px;}

    .GrillaServicios
    {display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 0,5fr;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas:
        "Servicios"
        "p2"
        "ListaServicios"
        "ServiciosFoto" ;
    grid-column-gap: 10%;
    grid-row-gap: 0;
        .ServiciosPic {
        margin-top: 30px;
        }
}



.p5
{font-size: 14px;
margin-bottom: 6px;}

}



///////////////////////////////////////////*****************************************////////////////////////////////////



@media (max-width: 576px) 
{
    .logoBruta 
    {width: 30%;}


    .Encabezado {
    .NavBar , .navbar {
        font-size: 10px;
        margin-right: 20px;
        border-right: none;
        display: none;
        .nav-item {
            margin-block: 4px;
            font-size: 10px;
        }
        }
        
        .Menu__hamburguesa {
            display: block;
            color: black;
            visibility: visible;

            .container-fluid {
                flex-wrap: wrap;
                align-items: center;
                flex-direction: row-reverse;
                align-content: center;
                justify-content: flex-start;
                padding-right: 20%;
                padding-top: 20px;
                .navbar-toggler {
                    margin-top: 10px;
                }
                }
               }
    }

    .ParrafoIndex {
        font-size: 12px;
    margin-bottom: 2px;}

    h2 {font-family: "Glook";
        font-size: 16px;
        padding-block: 10px;

        }

        

 
  
    .GrillaServicios

    {display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 0,5fr;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas:
        "Servicios"
        "p2"
        "ListaServicios"
        "ServiciosFoto" ;
    grid-column-gap: 10%;
    grid-row-gap: 0;

    .ServiciosPic {
        margin-top: 30px;} 
    }

    h3
    {padding-block: 2px;
    margin: 1px;}
    


    .GrillaQuienesSomos
    {   display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 0.1fr;
        grid-template-areas:
        "QuienesSomosTitulo"
        "QuienesSomosp1"
        "QuienesSomosp2"
        "QuienesSomosp3"
        "QuienesSomosp4"
        "QuienesSomosPic";
        grid-column-gap: 10%;
        grid-row-gap: 0;

        .QuienesSomosH2
        {padding-block: 10px;}

        .QuienesSomosp4
        {margin-bottom: 20px;}
    }

    .Footer
    {margin-top: 20px;
    
        .Ig__footer , .Casilla__footer
        {visibility:hidden;}
    
        .bi-instagram , .bi-envelope
        {visibility: visible;
        font-size: larger;}
    
        .BrutaEstiloLogo
        {font-size: 18px;
        padding-bottom: 1px;
    padding-right: 1px;
    margin-bottom: 10px;}
    
        }


        body{margin: 0;
            width: 100% !important;}

}


///////////////////////////////////////////*****************************************////////////////////////////////////


@media (max-width: 400px) 
{
.logoBruta
{width: 40%;}

.container-fluid
{padding-top: 5px;}
}

 